@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-color: fuchsia;
    }
</style>

<p>
    Business professional transitioning from being an educator to a software developer! I spent many successful years in the business sector. Teaching was great but it just didn’t provide the adult interaction I craved. I attended a life changing informational coding seminar. I decided that it would be the perfect transition to build on my current abilities and fulfill my desire for lifelong learning.
    </p>
<p>Contact me at Thorpetann@gmail.com</p>
