@{
    ViewBag.Title = "Home";
}
<style>
    body {
        background-color: bisque;
    }
        h1   {color:red;}
        h2   {color:red;}
        
    
</style>

<div class="jumbotron">
        <h1>Terri's Personal Website</h1>
    <p class="lead">I am on Linkedin!</p>
    <p><a href="https://www.linkedin.com/in/territhorpe/" class="btn btn-primary btn-lg">Visit my Linkedin profile &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>
            I enjoy shopping, yoga, bike riding, cooking, movies and anything realated to being healty. I am looking forward to this year's slow roll!
        </p>
        <p><a class="btn btn-default" href="https://slowroll.bike/">2019 Slow Roll Schedule &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developing</h2>
        <p>I started with an introductory class to coding and the rest is history!</p>
        <p><a class="btn btn-default" href="https://www.grandcircus.co/">Grand Circus Class Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detroit</h2>
        <p>I acutally grew up in Detroit. It is a fun city with a lot to offer!</p>
        <p><a class="btn btn-default" href="https://visitdetroit.com/things-to-do/">Things to do in the D! &raquo;</a></p>
    </div>
    
</div>