@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-color: orange;
    }
    </style>

    <p > <a href="https://github.com/TThorpe1/MidTerm" class="btn btn-primary btn-lg" > Mid Term &raquo;</a > </p >
